html{
    box-sizing: border-box;
    }
*, *::before,*::after{
    box-sizing: inherit;
}
body{
    margin:0;
}
h1,h2{
    margin:0;
}
.App{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    

}
.card{
    width: 500px;
    height:600px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

